/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body, h1, h2, h3 {
   font-family: 'Titillium Web', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
 }

 .small-block-grid-2, .medium-block-grid-4 .large-block-grid-6 {
  text-align: center;
}

.panel {
  border-style: solid;
  border-color: #ff8900;
}


.navbar-brand {
  padding-top: 0px;
}
.navbar-brand img {
  height: 50px;
}

.section1 {
  background: url(https://media.wired.com/photos/5a1f21bb19878e67b94feb44/master/w_1718,c_limit/0118-WI-FFESPO-01_sq.jpg);
  background-size: contain;
}

.scrollbutton {
  background: #ff8900;
  color: black;
}

.button_secondary {
  background: #ff8900;
  color: black;
}
